.hmImgHd {
  margin-top: 6rem
}
.hmImgHd img {
  border-radius: 50px 0px 50px 0px;
  margin-top: 2rem;
}
.hmImgHd .cell:nth-child(2n) img {
  border-radius: 0px 50px 0px 50px;
}

.imgText {
  font-size: 3rem;
  color: aliceblue
}

.welcomeCont {
  margin-bottom: 10%;
  background-image: url("https://alabiohio.github.io/LizzysUniquePalate/Files/img/dough1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  align-content: center;
}
#welcomeText {
  margin-bottom: 20%;
  color: transparent;
  font-weight: 800;
  -webkit-text-stroke: 0.25px cornflowerblue;
}

.hds {
    font-size: 3rem;
    color: lightskyblue;
    font-size: 800;
}
.learnM {
  border-radius: 50px;
  font-size: 1.2rem;
  border: 1.25px solid cornflowerblue;
  color: aliceblue;
  background-color: rgba(0, 55, 106, 0.5);
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
  transition: all 0.3s ease;
}
.learnM:active {
  transform: scale(0.9);
  color: #fff;
  border-radius: 30px;
  background-color: rgba(0, 55, 106, 0.8);
}

.learnM:hover {
  color: aliceblue;
  background-color: rgba(0, 55, 106, 1);
  transform: scale(0.9);
}

.textCont {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'signika' , sans-serif;
}
.textInfo {
    color: #fff;
    font-size: 1.05rem;
}

.imgz {
  border-radius: 90px;
  box-shadow: 0px 0px 3px #000;
}

.foodImg {
  margin-bottom: 5%;
}



/* SERVICES */
.home-services {
  padding: 40px 20px;
  background-image: url("https://alabiohio.github.io/LizzysUniquePalate/Files/bgs/lnBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5)
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: cornflowerblue
}

.service-item {
    padding: 15px;
}

.service-img {
  width: 100%;
  height: auto;
  border-radius: 80px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px #000;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    font-family: "Fraunces", serif;
    color: aqua;
    font-weight: 700;
}

.service-item p {
    color: #fff;
    font-family: 'signika' , sans-serif;
}