@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Goudy+Bookletter+1911&family=Ma+Shan+Zheng&family=Signika:wght@300;400;500;600;700&family=Pacifico&display=swap');

.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
}

.arapey-regular {
  font-family: "Arapey", serif;
  font-weight: 800;
  font-style: normal;
}


.fraunces-sty {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

img[alt] {
  color: aliceblue;
  font-weight: 300;
  font-size: 0.8rem;
}

.cormorant-sty1 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.signika {
  font-family: 'signika', sans-serif;
  font-style: normal
}

:root {
  --background-color: rgb(2, 6, 23);
  --font-family: 'signika', sans-serif;
}

[data-aos] {
  z-index: 1 !important;
  /* Or a value lower than your header */
  position: relative;
  /* Ensure the z-index applies */
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  transition: background 0.3s ease;
  padding: 0.5rem 0.5rem;
}

header.scrolled {
  background: inherit;
  transition: background 0.3s ease;
}

#brNm {
  color: rgb(90%, 8%, 11%);
  font-size: 1.2rem
}

#brBo {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(5%, 15%, 53%);
  -webkit-text-stroke: 0.8px cornflowerblue;
}

.butOne {
  border-radius: 15px;
  padding: 10% 25%;
  margin-top: 2%;
}

.mnButCell {
  position: fixed;
  right: 0;
  z-index: 105;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  background-color: var(--background-color);
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.overlayGrid {
  display: none
}

.overlayGrid {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100
}

.overlayGrid.active {
  display: block
}


.overlayGrid.active {
  display: block;
  animation: showAl 0.5s ease
}

.overlayGrid.undo {
  display: block;
  animation: hideAl 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes showAl {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(3%);
  }
}

@keyframes hideAl {
  from {
    opacity: 1;
    transform: translateY(3%);
  }

  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

@media (min-height: 1020px) {
  .shMsg {
    height: 40vh;
  }
}

@media (orientation: landscape) {

  .shMsg {
    height: 40vh;
  }

  #brBo {
    font-size: 2.2rem
  }

  #brNm {
    font-size: 2rem
  }

  #subMeNm {
    font-size: 3rem
  }

  .mnIc {
    margin-top: 3%;
    margin-left: 5%
  }

  .menuLogo {
    font-size: 3rem;
    margin-top: 2%
  }

  .menuLists li {
    margin-top: 2%
  }

}

.clicked {
  font-size: 1.5rem;
  color: burlywood;
  padding: 2px;
}



.menuLay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuLay.active {
  display: block;
  opacity: 1;
}

.menuLay.closing {
  opacity: 0;
}

.me_nu {
  position: fixed;
  width: 75vw;
  top: 0%;
  left: 0%;
  z-index: 50;
  transform: translateX(-70%);
  transition: transform 0.5s ease;
}

.menuItems {
  height: 50vh;
  background: transparent;
}

.me_nu.active {
  transform: translateX(0%);
}

.me_nu.closing {
  transform: translateX(-70%);
}

.menuGrid {
  height: 100vh;
  background-color: #000121;
}



/* Style for the menu icon */
#menuIc {
  font-size: 1.6rem;
  font-weight: 800;
  color: lightcyan;
  transition: transform 1s ease, color 0.5s ease, opacity 0.5s ease;
  display: inline-block;
  transform-origin: center;
  opacity: 1;
}

/* Hover effect */
span#menuIc:hover {
  cursor: pointer;
  /* Indicate it's clickable */
  transform: scale(1.1);
  /* Slightly scale up for a hover effect */
  font-weight: 700
}

/* Active effect for rotation when clicked */
span#menuIc:active {
  transform: rotate(360deg);
  /* Rotate 360 degrees on click */
  color: black;
  /* Change color when active */
  opacity: 0.8;
  /* Slight opacity change when active */
}

/* Transition for when icon is changed */
#mnBut.change {
  animation: fadeInOut 0.3s ease-in-out forwards;
  /* Custom animation to fade out and fade in */
}

/* Keyframe animation for fading in/out icons */
@keyframes fadeInOut {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.hdLogo img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.menuLogo {
  margin-left: -5%;
  height: 5vh;
  margin-top: 7%
}

.menuLogoNm {
  color: rgb(5%, 35%, 53%);
  -webkit-text-stroke: 1px skyblue;
}

#subMeNm {
  color: rgb(100%, 8%, 11%);
  font-size: 1rem;
  -webkit-text-stroke: 1px red
}

.mnHead {
  margin-top: 5%
}

.menuLists li {
  margin-top: 15%;
}

.menuLists li a {
  color: rgb(159, 163, 163);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0px 50px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  text-align: left
}

.menuLists li a:active {
  color: cadetblue;
  font-weight: 800;
}

.menuLists li a:hover {
  color: sienna;
  font-weight: 800;
}

/*.menuLists li a:visited {
  color: purple;
}*/

/* FOR LARGE AND MEDIUM SCREENS */
/* FOR LARGE AND MEDIUM SCREENS */
.lgScrMenuCont {
  border: 1px solid cornflowerblue;
  height: 45px;
  background: rgba(15, 52, 212, 0.05);
}

.lgScrMenu {
  display: flex;
  justify-content: end;
  background-color: transparent;
}

.lgScrMenu .menu,
.lgScrMenu .top-bar {
  background-color: transparent;
}

.lgScrMenu li a {
  color: rgba(255, 255, 255, 0.84);
  font-size: 1rem;
  padding: 7px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.lgScrMenu li a:hover {
  color: aqua;
  font-weight: 800;
  background-color: rgba(12, 50, 225, 0.05);
  border: 1px solid cornflowerblue;
  border-radius: 25px;
}

.dynaCont {
  margin-top: 20%
}


/* CONTACT MENU */
.contact-sectionPg {
  padding: 2rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.ctHiPg,
.ctHiiPg {
  font-family: 'Playfair Display', serif;
  color: cornflowerblue;
  margin-bottom: 1rem;
  margin-top: 2rem
}

@media (min-width: 480px) {
  .ctHiPg {
    margin-top: 5rem;
  }
}

.ctHiPg {
  font-size: 2.5rem;
  font-weight: 600;
}

.ctHiiPg {
  font-size: 1.75rem;
  font-weight: 500;
}

.contact-form-container form label {
  font-weight: 800;
  color: #fff;
}

#contactForm input,
#contactForm textarea {
  border: 1px solid transparent;
  border-radius: 0.8rem;
  padding: 0.75rem;
  background-color: rgba(248, 248, 255, 0.5);
  font-family: 'Playfair Display', serif;
  background-color: rgba(0, 55, 106, 0.5);
  color: #fff
}

#contactForm input:focus,
#contactForm textarea:focus {
  border: cornflowerblue 2px solid;
  background-color: transparent;
  box-shadow: none
}

.contact-form-container textarea {
  resize: vertical;
}

.form-error {
  color: #c0392b;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: none;
}

.sdMsg {
  background-color: rgba(0, 55, 106, 1);
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.sdMsg:hover {
  background-color: rgba(0, 55, 106, 0.7);
}

.contactAppIcPg,
.ctAppIcPg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  background-color: rgba(0, 55, 106, 0.5) !important;
  color: aliceblue !important;
  font-weight: 800;
  font-size: 1.12rem;
  border: 1.5px solid cornflowerblue;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.contactAppIcPg:hover,
.ctAppIcPg:hover {
  background-color: #ffe5d0;
  color: #b86c28;
}

.contactAppIcPg i,
.ctAppIcPg i {
  margin-right: 0.5rem;
  font-size: 1.8rem;
}

.contactAppIcPg i {
  color: aliceblue
}


/* FOOTER */

footer {
  margin-top: 15%;
  background: var(--background-color);
  color: #fff;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  font-family: var(--font-family);
  overflow: hidden;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensures no interaction issues */
}

footer::before {
  left: 0;
  background: linear-gradient(to top, #000 0%, transparent 5%);
}

footer::after {
  right: 0;
  background: linear-gradient(to bottom, #000 0%, transparent 5%);
}

#ftNm {
  color: lightskyblue
}

.mnHead {
  margin-bottom: 20px;
}

.menuLogoNm {
  font-size: 1.5rem;
  font-weight: bold;
}

.footLinks {
  padding: 2rem 2rem;
}

.footer-bio {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
  font-style: italic;
}

.footLinks a {
  color: #fff;
  font-size: 1.2rem;
}

.footLinks a:hover {
  color: #f4a261;
}

.contact-section {
  margin-top: 15px;
}

.contactHead {
  font-size: 2.5rem;
  font-weight: 700;
  color: aliceblue;
  font-family: "Fraunces", serif;
}

.contactAppIc {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  margin: 8px 0;
  transition: color 0.3s ease;
  font-family: "Arapey", serif;
  font-weight: 800;
  font-style: normal;
}

.contactAppIc:hover {
  color: #f4a261;
}

.clUs {
  font-weight: 800;
  color: plum;
  font-family: "Fraunces", serif;
}

.ftLiHds {
  font-size: 1.5rem;
  color: plum;
  font-weight: 800;
  font-family: "Fraunces", serif;
}

.social-icons a {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f4a261;
}

.ftSoMeBox {
  border-right: 1px solid
}

.ftSoMe li a {
  color: #fff;
  font-size: 1.5rem
}

.copyright {
  margin-top: 20px;
  font-size: 0.9rem;
}

.ftLst p {
  font-weight: 300
}

.ftLst a {
  color: #fff;
  font-weight: 300;
}

footer a:hover {
  text-decoration: underline;
}